.todo-container {
  /* margin: 20px;
  padding: 15px;
  border: 1px solid var(--color-blue-gray);
  border-radius: 5px; */
}
.todo-container__list {
  /* margin: 20px;
  padding: 15px;
  border: 1px solid var(--color-blue-gray);
  border-radius: 5px; */
}
