.container__form {
  width: 801px;
  height: 2539px;
  border-radius: 16px;
  background-color: #f4f5f7;
  margin-top: 65px;
  margin-left: 82px;
  gap: 75px;
}
.input-field__select {
  width: 488px;
  height: 48px;
  padding: 13px 16px 13px 16px;
  border-radius: 5px;
  border: 1px solid #c8cbd1;
  gap: 10px;
  color: linear-gradient(0deg, #c8cbd1, #c8cbd1);
  background-color: linear-gradient(0deg, #ffffff, #ffffff);
}
.input-radio__field {
  display: block;
}
.input-field-error {
  border: 1px solid #fe5407;
}
.input-field-error-message {
  color: #fe5407;
  font-weight: bold;
}
.submit-button {
  padding: 20px, 36px, 20px, 36px;
  width: 491px;
  height: 56px;
  border-radius: 8px;
  border-color: #fe3756;
  border: 1px;
  gap: 16px;
  background: #fe3756;
  font-family: Poppins;
  font-size: 18px;
  font-weight: 500;
  line-height: 31px;

  text-align: center;
  color: white;
}
.submit-button:hover {
  cursor: pointer;
}
/* .modal-container {
  padding: 30px;
  opacity: 0, 5;
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  z-index: 9999;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.modal {
  padding: 30px;
  background-color: #ffffff;
  width: 60px;
  border: 3px solid black;
  border-radius: 5px;
} */
