.checkboxes__item {
  display: flex;
  margin: 5px 0;
  cursor: pointer;
}
.checkboxes__item > input {
  display: none;
}
.checkboxes__item-checkmark {
  width: 20px;
  height: 20px;
  border-radius: 4px;
  border: 1px solid #cccccc;
  margin-right: 8px;
}
.checkboxes__item-checkmark--checked {
  background-color: #fe3756;
  border: 1px solid #fe5407;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
}
