.dashboard {
  display: grid;
  grid-template-columns: 1fr 1.2fr 0.8fr;
  grid-template-rows: 0, 5fr 1.5fr 1fr;
  gap: 20px 20px;
  grid-template-areas:
    'Header Header Aside'
    'Links Links Aside'
    'Links Links Aside';
}

.dashboard header {
  grid-area: Header;
  display: flex;
  flex-direction: column;
  align-self: baseline;
  align-items: flex-start;
}
.dashboard-card {
  background-color: red;
}
.dashboard-card div {
  height: 12rem;
  width: 12rem;
  padding: 1rem;
  text-align: center;
  -webkit-box-shadow: 0px 0px 24px 0px rgba(66, 68, 90, 1);
  -moz-box-shadow: 0px 0px 24px 0px rgba(66, 68, 90, 1);
  box-shadow: 0px 0px 24px 0px rgba(66, 68, 90, 1);
  border-radius: 14px;
}
/* .dashboard header {
  grid-area: Header;
  display: flex;
  flex-direction: column;
  align-self: baseline;
  color: #fe3756;
} */
/* aside */
.dashboard aside {
  grid-area: Aside;
}
.dashboard .links {
  grid-area: Links;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 16px;
}

.dashboard .links a {
  text-decoration: none;
  color: #fe3756;
}

.dashboard aside .profile .profile-picture {
  border-radius: 70% 70%;

  background-color: #e5e5e5;
  width: 200px;
  height: 200px;
}
.dashboard aside .profile-picture p {
  margin-top: -20px;
  font-size: 1.2rem;
  color: #adadad;
}
.dashboard aside.info p {
  margin-top: 0px;
  margin-bottom: 0;
  color: #adadad;
}
.dashboard aside .profile-img img {
  border-radius: 50% 50%;
  border: 4px solid #fe3756;
}
.dashboard aside .info a {
  color: #adadad;
  text-decoration: none;
}
