.container--grid-wrapper {
  display: flex;
  flex-flow: row wrap;

  gap: 8px;

  padding: 16px;
}
.container--grid-wrapper .container--grid-tile {
  font-family: Poppins;
  text-transform: capitalize;
  border: 1px solid;

  padding: 8px;

  border-radius: 8px;

  flex: 0 0 calc((100% / 4) - calc(8px * 3) / 4);
  background-color: rgb(136, 215, 136);
}
.container--grid-wrapper .container--grid-tile img {
  display: flex;
  margin: 0 auto;
}

.dedicated-background--fire {
  background-color: orange !important;
}
.dedicated-background--grass {
  background-color: greenyellow !important;
}
.dedicated-background--water {
  background-color: rgb(38, 38, 218) !important;
}
.dedicated-background--bug {
  background-color: yellow !important;
}
.dedicated-background--ghost {
  background-color: pink !important;
}
